.container{
    margin: 5px;
    
}



li{
    padding: 5px;
}

.post{
    margin: 5px 5px;
}

.form{
    margin-top: 10px;
    margin-bottom: 10px;
}

#image{
    max-height: 500px;
}

.embed > iframe{
    align-self: center;
    display: block;
    text-align: center;
}

.wendy-bg{
    background-color: pink;
}

.jeff-bg{
    background-color: #89CFF0;
}