<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Koala Messages</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<link rel="icon" type="image/x-icon" href="../static/img/favicon.ico">
</head>
<body>
  <nav class="navbar navbar-light bg-light">
    <div class="navbar-brand">
      <img src="../static/img/koala.png" width="30" height="30" class="d-inline-block align-top" alt="">
      <span class="navbar-brand mb-0 h1">Koala Messages</span>
    </div>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      
      <ul class="navbar-nav">
        {% if name == "Jeff" %}
        <li class="nav-item active alert-dark text-center">
          <a class="nav-link active" href="/">Home<span class="sr-only">(current)</span></a>
        </li>
        {% else %}
        <li class="nav-item alert-dark text-center">
          <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
        </li>
        {% endif %}
        <li class="nav-item alert-dark text-center">
          <a class="nav-link" href="/wendy/post">Post Wendy</a>
        </li>
        <!-- {% if name == "Wendy" %}
        <li class="nav-item alert-dark text-center">
          <a class="nav-link active" href="/wendy">View Wendy Messages</a>
        </li>
        {% else %}
        <li class="nav-item alert-dark text-center">
          <a class="nav-link" href="/wendy">View Wendy Messages</a>
        </li>
        {% endif %} -->
        <li class="nav-item alert-dark text-center">
          <a class="nav-link" href="/jeff/post">Post Jeff</a> 
        </li>
        
      </ul>
    </div>
  </nav>

  <div class="container">
    <div class="text-center">
      <h1>Messages</h1>
    </div>


    {% for posts in admin %}
    <div class="post">
      {% if posts.name=='Jeff' %}
      <div class="row ">
        <div class="col jeff-bg">
          <h5><b>Author</b>: {{ posts.name }}</h5>
        </div>
      </div>
      {% else %}
      <div class="row ">
        <div class="col wendy-bg">
          <h5 class=""><b>Author</b>: {{ posts.name }}</h5>
        </div>
      </div>
      {% endif %}
      <div class="row alert-dark">
        <div class="col">
          <p><b>Date</b>: {{ posts.date }}</p>
        </div>
      </div>
      
      {% if posts.post!="" %}
      <div class="row alert-secondary">
        <div class="col">
          <p>{{ posts.post }}</p>
        </div>
      </div>
      {% endif %}
      {% if posts.img!="" %}

      <div class="row alert-primary">
        <div class="col text-center">
          <img src="../static/files/{{posts.img}}" alt="" class="img-fluid" id="img">
        </div>
      </div>
      {% endif %}


      <!-- Embeded Links -->
      {% if posts.embed!="" %}
      {% autoescape off %}
      <div class="row alert-primary">
        <div class="col text-center">
          {{ posts.embed }}
        </div>
      </div>
      {% endautoescape %}
      {% endif %}
    </div>
    {% endfor %}
  </div>
  

      
    
</body>
</html>
